{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
  説明
{% endblock %}

{% block content %}
<p>2日目も実験のご協力いただきまして誠にありがとうございます。</p>
<p>次ページの課題の説明をします。</p>
<p>これから，たとえば「今100円をもらうか，明日10,000円をもらうか」といった複数の問いに対して回答をしていただきます。</p>
<p>その際，問いによって「今」や「明日」といった報酬獲得時点と「100円」といった報酬量の組み合わせが変化するため，よく読んでからそれぞれの問いに回答をしてください。</p>
<p>なお，これからの課題で提示される金額報酬はすべて仮想のものであり，実際に獲得できるものではありませんが，よく想像して回答をしてください。</p>
<p>また，各ページの冒頭にあなたが1日目に記述したエピソードが表示されるので，そのエピソードをもう一度思い浮かべてから回答に臨んでください。</p>
<p>課題は全7ページあります。適宜休憩をはさみながら実施してください。</p>
<p>課題の説明は各ページでも行われます。それでは「次へ」を押下して課題を進めてください。</p>

{{ next_button }}

{% endblock %}
